body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: black;
}

.calc {
    background-color: rgb(0, 0, 0);
    padding: 2px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(174, 174, 174);
}

.row {
    display: flex;
}

.display-row {
    display: flex;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    font-family: monospace;
    font-size: xx-large;
    color: antiquewhite;
    padding: 2px;
}

.button, .button-top, .button-operator, .button-num {
    height: 50px;
    width: 50px;
    margin: 1px;
}

.button-num {
    background-color: antiquewhite;
}

.button-top {
    background-color: steelblue;
}

.button-operator {
    background-color: rgb(255, 98, 40);
}

#zero {
    flex-grow: 2;
    margin: 1px;
}